.dialog {
  border-radius: 24px;
}

.dialogTitle {
  padding: 16px 24px !important;
  height: 8px !important;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  background-color: rgb(194, 193, 193);
}

.closeButton {
  position: absolute !important;
  right: 16px !important;
  top: 2px !important;
  border: 5px !important;
  color: #0c0c0c !important;
}

.moreButton {
  position: absolute !important;
  right: 48px !important;
  top: 12px !important;
  color: #666 !important;
}

.dialogContent {
  padding: 16px 24px 24px 24px !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.assignSection {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6px;
  gap: 70px;
}

.assignTo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.assignLabel {
  color: #666;
  font-size: 0.875rem;
}

.userIdInput {
  width: 150px;
  background-color: #f8f9fa;
}

.dueDateButton {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.dateButton {
  color: #666 !important;
  border-color: #ddd !important;
  text-transform: none !important;
  padding: 4px 12px !important;
  border-radius: 20px !important;
  font-size: 0.875rem !important;
}

.titleInput {
  font-size: 10rem !important;
  margin-top: 16px !important;
}

.titleInput input::placeholder {
  color: #ccc;
  font-weight: 500;
}

.detailsLabel {
  color: #333;
  font-weight: 500;
  margin-top: 8px;
}

.detailsInput {
  margin-top: 4px !important;
}

.detailsInput textarea::placeholder {
  color: #ccc;
}

.uploadArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 120px;
  transition: border-color 0.2s;
}

.uploadArea:hover {
  border-color: #0d6efd;
}

.uploadIcon {
  color: #999;
  font-size: 2rem !important;
  margin-right: 15px;
  margin-bottom: 8px;
}

.uploadText {
  color: #666;
  text-align: center;
}

.browseLink {
  color: #0d6efd;
  cursor: pointer;
}

.actionContainer {
  display: flex;
   width: calc(100% + 48px); 
  justify-content: flex-end;
   margin-left: -24px; 
  margin-top: 16px;
  padding-top: 12px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08);
  background-color: #fff; 
  bottom: 0;         
  z-index: 1;
}

.addButton {
  background-color: #0d6efd !important;
  color: white !important;
  text-transform: none !important;
  margin-right: 4% !important;
  padding: 6px 24px !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  min-width: 80px;
}

.buttonProgress {
  color: white;
}
.addBugTitle{
  padding: 8px 30px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;

}
.borderedField {
  border: 0.5px solid #ccc;
  border-radius: 6px;
  padding:2px !important;
  width: 100%;
  margin-top: 8px;

}
