.container {
    width: 70%;
    margin-left: 30%;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    justify-content: flex-end;
    color: #414141;
    margin-bottom: 3rem;
  }
  
  .signInLink {
    font-weight: 600 !important;
    color: #1976d2;
    text-decoration: none;
  }
  
  .formContainer {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .title {
    margin-bottom: 0.5rem !important;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .subtitle {
    margin-bottom: 2rem !important;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .optionCard {
    padding: 1rem !important;
    margin-bottom: 1rem !important;
    display: flex !important;
    align-items: center !important;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    transition: all 0.2s ease !important;
  }
  
  .optionCard:hover {
    border-color: #1976d2 !important;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px
      rgba(0, 0, 0, 0.12) !important;
    background-color: #e9eaeb;
  }
  
  .iconContainer {
    background-color: rgba(25, 118, 210, 0.1);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1976d2;
    margin-right: 1rem;
  }
  
  .optionText {
    flex: 1;
  }
  
  .optionTitle {
    margin-bottom: 0.25rem !important;
  }
  
  .optionDescription {
    color: rgba(0, 0, 0, 0.6) !important;
  }
  .arrowIcon {
  visibility: hidden;
  opacity: 0;
  transform: translateX(5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.optionCard:hover .arrowIcon {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
  
  @media (max-width: 768px) {
    .container {
      width: 100%;
      margin-left: 0;
      padding: 1.5rem;
    }
  }